@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
     
}

.background-img{
    background:url('/public/images/BackGround2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-position: center;
    padding-top: 5rem;
    
}
.heading{
    color: white;
    -ms-text-size-adjust:auto ;
    font-size: 50px;
    margin-left: 400px;
    

}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
h3{
    color: white;
    -ms-text-size-adjust:auto ;
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
}

/* Book Section */
.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 25px;
}

.form {
  display: flex ;
  flex-direction: row;
  
}
input {
    outline: none;
    border: 1px black ;
    width: 90%;
    padding: 17px;
    padding-left: 20px;
    
}
.form .grid::placeholder{
  font-size: 20px;
}
.book {
    padding: 40px 0;
    background: #282834;
    color: #fff;
}
h2 {
    font-family: 'Poppins', sans-serif ;
}
.book h2 {
   font-size: 40px;
    text-align: center;
    margin-bottom: 20px;

}
.book h2 span {
    color: rgb(157, 131, 181);
}
.book input:nth-child(5) {
    background: rgb(157, 144, 168);
    color:#000000;
}
.book input:nth-child(5):hover{
  background-color:#003d99 ;
}
.text-book{
  display: inline;
  justify-content: center;
}