@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
    background: #fcfcfc;
     
}

.background-img{
    background:url('/public/images/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    background-position: center;
    padding-top: 5rem;
    
}
.heading{
    color: white;
    -ms-text-size-adjust:auto ;
    font-size: 50px;
    margin-left: 200px;


}
h3{
    color: white;
    -ms-text-size-adjust:auto ;
    font-size: 40px;
    margin-left: 200px;
}

