.cards-container{
   
    height: 280px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(231, 226, 231);
    margin-top: 60px;
    margin-left: 50px;
    display: inline-block;
    
}
.cities-images{
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
}
.city-name{
    text-align: center;
    font-size: 30px;
    margin-top: 8px;

}
.description{
    text-align: center;
    font-size: 20px;
}

