/* button color : #0066ff
   button hover : #003d99
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroung-image{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/20/164/15/booking-best-hotels-bangkok-tourism-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-size: 97% 400px ;
    background-position: center;
    margin-top: 50px;
    width: auto;
}

.heading-1{
    margin-top: 10px;
}
.heading{
    color: white;
    font-family:sans-serif ;
    margin-left: 170px;
    margin-top: 90px;
    font-size: 50px;
}

.text{
    color: white;
    font-size: 20px;
    margin-left: 170px;
    margin-top:20px;
}

.btn{
    background-color: #0066ff;
    height: 50px;
    width: 150px;
    font-size: 18px;
    margin-left: 170px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #003d99;
}


.search{
    display: block;
    margin-left: 110px;
    margin-top: 130px;
}

.checkbox{
   margin-left: 170px;
   cursor: pointer;
}

.checkbox-label{
    font-size: 20px;
    cursor: pointer;
}

.sub-heading{
    margin-left: 170px;
    margin-top: 40px;
    font-size: 25px;
}

.sub-text{
    margin-left: 170px;
    margin-top: 20px;
    font-size: 20px;
}

.sub-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.fly-away-content{
    height: 200px;
    width: 500px;
    box-shadow: 4px 6px 8px gray;
    margin: 20px;
    padding: 10px;
    display: flex;
}

.info-img{
    height: 200px;
    width: 300px;
    margin-left: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.heading-flight{
    margin-bottom: 15px;
}

.flight-img{
    height: 150px;
    width: 200px;
}

.flight-btn{
    background-color: #0066ff;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.flight-btn:hover{
    background-color: #003d99;
}

.flight-text{
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 18px;
}

.family-img{
    height: 190px;
    width: 190px;
}

.img-container{
    width: 75%;
    height: 200px;
    background-color: aqua;
    margin-left: 170px;

}
.m-b{
    margin-bottom: 20px;
}

.state-img{
    width: 180px;
    height: 140px;
    padding: 10px;
    border-radius: 20px;
}
.img-container{
    display: flex;
}
.state-heading{
    margin-left: 10px;
}