.dropdown{
    width: 450px;
    margin: 70px;
    margin-top: 100px;
    position: relative;
}
.dropdown .dropdown-btn{
    padding: 15px 20px;
    background: #1e1b1b;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.dropdown .dropdown-content{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 85%;   
}
.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2;
}
.dropdown .dropdown-content .dropdown-item:hover{
    background-color: #f4f4f4;
}