/* SearchBar.css */
.search-bar {
    display: inline-flex;
    align-items: center;
    margin-bottom: 150px;
    width: 350px;
    margin-top: 100px;
    margin-left: 25%;
    height: 30px;
    color: white;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 17px;
    color: white;
    background-color: #4890d7;
  }

  .search-bar input::placeholder{
    color: white;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #4890d7;
    color: ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .search-bar button:hover {
    background-color: #003d99;
    color: antiquewhite;
  }
  
  .search-bar button:focus {
    outline: none;
  }
  
