.registration-form{
    width: 400px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 3px 5px 7px #003d99;
}

.registration-form {
    font-size: 30px;
    text-align: center;
}

.input-user{
    padding: 10px;
    margin: 10px;
    margin-left: 45px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}
.register-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 140px;
    padding: 10px;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #0066ff;
    color: #fff;
    border: none;
}
.register-btn:hover{
    background-color: #003d99;
}

.register-form{
    margin-top: 40px;
}
