.registration-form{
    background-color: blue;
    width: 400px;
    height: 500px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
}

.registration-form{
    font-size: 30px;
    text-align: center;
}

.input-user{
    padding: 10px;
    margin: 10px;
    margin-left: 45px;
    border-radius: 5px;
    font-size: 20px;
    width: 300px;
}
.register-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 140px;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

.register-form{
    margin-top: 60px;
}
