
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    background-color: rgb(136, 136, 246);
  }
  
  .image {
    width: 100%;
    height: 250px;
    border-radius: 5px;
  }
  
  .cardBody {
    padding: 10px;
  }
  
  .title {
    font-size: 1.5rem;
    margin: 5px 0;

  }
  
  .description {
    font-size: 1rem;
    color: #555;
  }
  