.title-container{
    background-color:#2e2eb8 ;
    height: 450px;
    color: white;
    
}

.attractions-title{
    font-size: 70px;
    margin-top: 15px;
    text-align: center;

}
.attractions-subtitle{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.place-container{
    margin-left: 300px;
}
.search{
    margin-top: 15px;
    margin-left: 360px;
    margin-right: auto;
    height: 50px;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 10px;
    

}

.heading1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    color: black;
}
.date{
    height: 50px;
    width: 300px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
.main-card-container{
    margin-left: 100px;
}
hr{
    margin-top: 40px;
}
.destination-container{
    margin-left: 150px;
    margin-top: 50px;
}
