.background-image {
    background-image: url('Flight.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-size: 97% 400px;
    background-position: center;
    margin-top: 50px;
    width: auto;
}

.sub-heading {
    color: white;
}

.main-heading {
    margin-top: 40px;
    margin-left: 50px;
    font-size: 50px;
}

.btn-discover-more {
    margin-top: 190px;
    margin-left: 160px;
    font-size: 25px;
    background-color: #000099;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.btn-discover-more:hover {
    background-color: #0000ff;
    transition: 2s;
}

.headline-1 {
    margin-left: 40px;
    font-size: 25px;
<<<<<<< HEAD
    margin-top: 0;
}

.btn-radio {
    margin-left: 40px;
    margin-top: 20px;
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    font-size: 30px;
}

.flight-list {
    margin-left: 35px;
    font-size: 16px;
}

.search-box {
    margin-top: 20px;
    margin-left: 40px;
    width: 300px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    outline-color: #000099;
}

#search-box {
    margin-left: 0.5px;
}

#search-b0x2 {
    margin-left: 0.5px;
    font-size: 20px;
}

.main-div {
    background-color: #e6e6ff;
    margin-top: 0;
}

.heading-2 {
    margin-left: 40px;
    margin-top: 50px;
    font-size: 25px;
}

.heading-3 {
    margin-left: 40px;
    margin-top: 8px;
    font-size: 19px;
}

.btn-search {
    margin-left: 0.5px;
    background-color: #0000ff;
=======
}

.backgroung-image{
    background-image: url('https://previews.123rf.com/images/rudzhan/rudzhan2003/rudzhan200300066/142101202-businessman-hands-ordering-flight-tickets-on-mobile-phone-app-concept-poster-with-a-plane-in-the-sky.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-size: 97% 400px ;
    background-position: center;
    width: auto;
>>>>>>> 516e1918f129931bc075b8db59a9e10cc5e02a23
}