.backgroung-image{
    background-image: url('https://previews.123rf.com/images/rudzhan/rudzhan2003/rudzhan200300066/142101202-businessman-hands-ordering-flight-tickets-on-mobile-phone-app-concept-poster-with-a-plane-in-the-sky.jpg');
    background-repeat: no-repeat;
    height: 500px;
    background-size: 97% 400px ;
    background-position: center;
    width: auto;
}